<<<<<<< HEAD
header{
    background-color: #FF0000; 
    height: 70px; 
    width: 100%;
=======
header {
    color: #FF0000; 
    height: 70px; 
    width: 100%"
>>>>>>> 390dd99e5bc67d9a36751073b1c87bd8a6431eaf
}